/*
    With DaisyUI handling component styles, themes, and colors,
    this file should stay minimal. Use it for:

      - Loading a custom font (e.g. Google Fonts)
      - Basic page-level defaults (body font, line height, etc.)
      - Anything DaisyUI doesn't already cover

    Don't use it to recreate styles DaisyUI provides.
*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --font-heading: "Ubuntu", ubuntu;
  --font-body: "Ubuntu", ubuntu;

  --fs-body: 400;
  --fs-accent: 900;
  --fs-heading: 700;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
}

body {
  font-family:
    Ubuntu,
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 var(--space-md);
  align-items: center;
}

btn-primary {
  box-sizing: border-box;
}

section {
  display: block;
}

hero {
  padding: 2rem;
  margin: 1rem;
  border: 0.5rem;
}
